APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomKey!!!

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=memcached
QUEUE_DRIVER=sync

#@prod=some_url
#@local=https://levnetserver.dev/api/v1/
API_CLIENT_URL=https://levnetserver.dev/api/v1/

#@local=
MACHINE_ID=foobar
API_VERSION=v1